<h2 style="margin-bottom:2rem;">Live Chat</h2>

<div id="chat_container" class="table-responsive">
  <table id="chat_table" class="table table-bordered table-hover">
    <thead>
      <tr><th> -- Chat Start -- </th></tr>
    </thead>
    <tbody id="chat_body">
      <tr><td> No Messages Yet! </td></tr>
    </tbody>
  </table>
</div>

<script>
  window.drawChatBox = function(data){
    if(window.liveChatID){
      chatMessages = data.messages;
      for(var i = 0; i < chatMessages.length; i++){
        //TODO: Date comparison on messages
        $('#chat_body').append("<tr><td> <span style='color:#666565;'>" + chatMessages[i].author + ":</span> " + chatMessages[i].content + "</td></tr>");
      }
      var $el = $(".table-responsive");
      $el.scrollTop($el.prop("scrollHeight")-$el.innerHeight());
    }
  }
</script>