<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div id="help_box">
         <h2> Here's Your Help </h2><hr style="width:75%;color:#ddd;">
         <ul>
            <li style="width:79%;margin-left: 9%;font-size: 2.5rem; margin-top: 6rem;"> On the homepage, enter the part of the url after "?v=", but before the next "&" symbol</li>
            <li style="width: fit-content;margin-left: 9%;font-size: 2.5rem; margin-top: 6rem;"> We have plenty of graphs to choose from in our tabbed collection </li>
            <li style="width: fit-content;margin-left: 9%;font-size: 2.5rem; margin-top: 6rem;"> Make sure to check out your stream quality in the bottom left </li>
            <li style="width: 80%;margin-left: 9%;font-size: 2.5rem; margin-top: 6rem;"> Monitor the live chat on the right-- faster than Youtbe's own chatbox! </li>
            <li style="width: 80%;margin-left: 9%;font-size: 2.5rem; margin-top: 6rem;"> Ask Chat Questions, and see how they respond below! </li>
         </ul>
         <h2 style="width:84%;margin-top:10%;margin-left:7%;">Most importantly, we have many more features planned, so if you have any suggestions let the developers know!</h2>
        <div>
    </div>
</div>
