<h2 id="stream_header"> Welcome to Whiplash!</h2>
<hr class="separator">

<script>
    function loadStreamHeader(){
        $("#stream_header").html( "You're Watching: </br> <span id='stream_name'>" + window.streamName + "</span>");
    }
</script>