<div id="word-container" style="height: 100%; width: 100%;"></div>

<script type="text/javascript">
  $(document).ready(function () {
  let chart;

  window.drawWordGraph = function(data){
    var word_data = []
    var count_data = []
    for(var i = 0; i < 10; i++){
        word_data.push(data.words[i].content)
        count_data.push(data.words[i].count)
    }

    //set chart data
    chart.xAxis[0].setCategories(word_data);
    chart.series[0].setData(count_data);

    //reflect new pulled data
    chart.redraw();
  }

    //highchart column graph
    chart =   Highcharts.chart('word-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top Words'
        },
        subtitle: {
            text: "User count updated every 5 seconds"
        },
        xAxis: {
            categories: [],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Word Count'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:"#FF0052";padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>Active {point.y:.1f} times</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                color: "#FF0052"
            }
        },
        series: [{
            name: 'Hot Words',
            data: []
        }]
    });
  });
</script>
